@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
font-family: "Roboto", sans-serif;
 font-size:  10;
}

.navbar {
padding: 5px 15px;
height: 40;
margin: 15px;


}
.navbar,.title{
 color:red
}
.nav-link{
    font: size 40px;
}
h1,h2,h3{
    text-transform: uppercase;
    text-align: center;
    color:blue;
    outline: auto;
}
p{
    color: rgba(255, 72, 0, 0.99);
} 
    
    
    


